@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 페이지 */
#mainBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#mainLoginHeader {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    position: absolute;
    color: #222;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: ImcreSoojin;
}

#mainLogo {
    font-size: 60px;
}

#mainBtnDiv {
    margin-top: 10px;
}

#mainBtnDiv span {
    font-family: ImcreSoojin;
}

#mainLoginHeader #mainBtnDiv button{
    background: transparent;
    border: none;
    position: relative;
    height: 40px;
    font-size: 18px;
    width: 130px;
    padding: 0 10px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

#mainLoginHeader #mainBtnDiv button:hover{
    background: transparent;
    color: #222;
}

#mainLoginHeader #mainBtnDiv button:before,button:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #222;
    transition: 400ms ease all;
}

#mainLoginHeader #mainBtnDiv button:after{
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#mainLoginHeader #mainBtnDiv button:hover:before,
#mainLoginHeader #mainBtnDiv button:hover:after{
    width: 100%;
    transition: 800ms ease all;
}

#mainBtnDiv #mainBtnDiv span{
    margin-left: 8px;
}

/* 메인 페이지 모달 */
#mainModalBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;  
}

#mainModalElem {
    width: 440px;
    height: 250px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: solid 2px #AFD36D;
    box-shadow: 4px 4px 3px #666;
    transform: translate(-50%, -400%);
    transition: transform 0.3s linear;
}

#mainModalElem.modalOpen {
    transform: translate(-50%, -50%);
    transition: transform 0.3s linear;
}

#mainModalElem.modalClose {
    transform: translate(-50%, -400%);
    transition: transform 0.3s linear;
}

#mainModalHead {
    height: 60px;
}

#mainModalHead i {
    font-size: 20px;
    margin: 20px;
    color: #222;
    float: right;
    cursor: pointer;
}

#mainModalHead i span{
    font-family: ImcreSoojin;
}

#mainModalContent {
    font-size: 18px;
    font-family: ImcreSoojin;
    margin: 20px;
}

#signNameElem,
#signPasswordElem {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: ImcreSoojin;
}

#mainModalContent span {
    line-height: 28px;
}

#mainModalContent input{
    width: 300px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#mainModalContent input:focus {
    outline: none;
}

#mainModalBtn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#mainModalBtn button {
    padding: 10px;
    border-radius: 7px;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
}